<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link rel="stylesheet" href="style.css" />
		<title>Basic Express Server</title>
	</head>
	<body>
		<form action="/addPokemon" method="POST">
			<input type="text" placeholder="Name" name="name" />
			<input type="text" placeholder="Type" name="type" />
			<input type="submit" value="Add Pokemon" />
		</form>
		<h2>Pokemon</h2>
		<ul class="pokemon">
			<% for(let i = 0; i < pokemon.length; i++) { %>
			<li>
				<p><%=pokemon[i].name%> [<%=pokemon[i].type%>] Likes: <%=pokemon[i].likes%> <span class="fa fa-thumbs-up"></span> <span class="fa fa-trash"></span></p>
			</li>
			<% } %>
		</ul>
		<script src="index.js"></script>
	</body>
</html>
