<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Basic Express Server</title>
	</head>
	<body>
		<form action="/pokemon" method="POST">
			<input type="text" placeholder="Name" />
			<input type="text" placeholder="Type" />
			<input type="submit" value="Add Pokemon" />
		</form>
		<h2>Pokemon</h2>
		<script src="index.js"></script>
	</body>
</html>
